body {
  font-family: Arial;
  background: #020617;
  color: white;
  padding: 40px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: #2563eb;
}